@keyframes showModalBg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes showModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.modal-bg {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    overflow: auto;
    animation: showModalBg .3s ease-in-out;
    z-index: 10;
}

.modal{
    min-width: 500px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    padding: 5px 10px 15px;
    text-align: left;
    transition: 0.5s;
    box-shadow: 0 0 25px rgba(152, 120, 255, 0.5);
    animation: showModal .3s ease-in-out;
    z-index: 100;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header__title {
    margin: 0;
}

.modal-header__title > span {
    font-weight: 200;
}

.modal-header__btn {
    color: blue;
    font-size: 30px;
    cursor: pointer;
}

.modal-header__btn:hover {
    color: blueviolet;
    font-size: 32px;
    transition: 0.2s;
}